body {
  text-align: center;

  background-color: white;
  .App {
    margin: auto;
    width: 1200px;
    header {
      background-color: silver;
    }
    .pros-cons {
      display: flex;
      flex-direction: row;
      text-align: center;
      border: 2px solid black;
      .items {
        background-color: whitesmoke;
        margin: 0;
        padding: 10px;
        font-size: 30px;
        width: 50%;
        border: 1px solid black;
        .item {
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }
}
